/* scss/modules/_radio-button-group-switch.scss */

.radio-button-group-switch {
  font-size: 0;
}

.radio-button-group-switch>li {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 50%;
  @include breakpoint($sm) {
    width: 170px;
  }
}

.radio-button-group-switch--block--center {
  display: block;
  text-align: center;

   @include breakpoint($sm) {
    float: left;
    margin-left: 182px;
  }


  
  @include breakpoint($lg) {
    margin-left: 394px;
  }
}

.radio-button-group-switch__label {
  font-size: 12px;
  font-family: $sftm;
  text-transform: uppercase;
  line-height: 1.286;
  text-align: center;
  border: 1px solid #9ab1c4;
  display: block;
  padding: 6px;
  letter-spacing: -.7px;
  @include breakpoint($sm) {
    font-size: 14px;
  }
}

.radio-button-group-switch>li:first-child>.radio-button-group-switch__label {
  border-radius: 4px 0 0 4px;
  border-right: 0px;
}

.radio-button-group-switch>li:last-child>.radio-button-group-switch__label {
  border-radius: 0 4px 4px 0;
}

.radio-button-group-switch__radio {
  position: absolute;
  top: -30px;
}

.radio-button-group-switch__radio:checked ~ .radio-button-group-switch__label {
  color: rgb(253, 253, 253);
  background: #226cdc;
}


/*.radio-button-group-switch input.radio-button-group-switch__radio[type=radio]:checked ~ label{
  color: #fff;
  background: #226cdc;
} */
