/* scss/modules/_registration-step-oms.scss */

.registration-step {
  
  @include breakpoint($sm) {
    padding-top: 0px;
  }
  &.registration-step--expand {
    background-color: #d5e4ed;
    @include breakpoint($sm) {
      border-top: 1px solid #bedbed;
      border-bottom: 1px solid #bedbed;
    }
  }

  &.registration-step--first{
    
  }
}

.registration-step__content {
  @include breakpoint($sm) {
    background-image: url('../img/registration-step.png');
    background-position: 0px 0px;
    background-repeat: repeat-y;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.registration-step.registration-step--first .registration-step__content {
  @include breakpoint($sm) {
    padding-top: 0;
    margin-top: 20px;
  }
}

.registration-step.registration-step--last .registration-step__content {
  @include breakpoint($sm) {
    background: transparent;
    padding-top: 0;
  }
}

.registration-step--last .registration-step__title {
  @include breakpoint($sm) {
    padding-top: 20px;
    background: url('../img/registration-step.png') repeat-y left;
  }
}

.registration-step--last .registration-step-value {
  @include breakpoint($sm) {
    padding-top: 24px;
  }
}

.registration-step__content.registration-step__content--tablet-desctop {
  display: none;
  @include breakpoint($sm) {
    display: block;
  }
}

.registration-step__content.registration-step__content--mobile {
  @include breakpoint($sm) {
    display: none;
  }
}

.registration-step__title {
  font-size: 12px;
  font-family: $sftr;
  color: rgb(103, 111, 122);
  line-height: 2;

  @include breakpoint($xs-sm) {
    float: left;
  }

  @include breakpoint($sm) {
    font-family: $sftl;
    font-size: 18px;
    color: rgba(26, 26, 26, 0.502);
    line-height: 1.2;
    margin-bottom: 0px;
    float: left;
  }
}

.registration-step-value__label--tablet-desktop{
   @include breakpoint($xs-sm) {
    display:none;
  }
}

.registration-step--expand .registration-step__title,
.registration-step--appointment-manage .registration-step__title{
  color: rgb(26, 26, 26);
}




.registration-step-value__label--mobile{
  font-size: 12px;
  font-family: $sftr;
  color: rgb(103, 111, 122);
  line-height: 2;
  display:block;
  padding-top: 7px;
  @include breakpoint($sm) {
   display: none; 
  }
}


.registration-step__counter {
  font-size: 9px;
  font-family: $sftr;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  height: 16px;
  width: 16px;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  background: #b6c1cc;
  border-radius: 50%;
  margin-right: 3px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  @include breakpoint($xs-sm) {
    margin-top: 11px;
  }

  @include breakpoint($sm) {
    margin-right: 10px;
    font-size: 18px;
    height: 32px;
    width: 32px;
    line-height: 32px;
  }
}

.registration-step--complete .registration-step__counter {
  &:before {
    content: '';
    background-color: #559e0d;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: url('../img/registration-step__counter--complete-xs.svg');
    background-repeat: no-repeat;
    background-position: center;
    @include breakpoint($sm) {
      background-image: url('../img/registration-step__counter--complete.svg');
    }
  }
}

.registration-step--expand .registration-step__counter {
  background: #1d68db;
}

.registration-step-value {}

.registration-step__hidden {
  height: 0px;
  overflow: hidden;
  margin: 0 -10px;
  @include breakpoint($sm) {
    margin: 0px;
  }
}

.registration-step--expand .registration-step__hidden {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  margin: 0;
  height: 100%;
  z-index: 1;
  @include breakpoint($sm) {
    background: transparent;
    position: static;
    height: auto;
    width: auto;
  }
}

.registration-step__hidden.registration-step__hidden--confirmation{
    @include breakpoint($lg) {
      padding-top: 0px;
      position: relative;
      top: -45px;
    }
}

.registration-step--expand .registration-step-hidden__scroll {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 48px;
  left: 0px;
  right: 0px;
  bottom: 50px;
  background: #d2e3ee;
  -webkit-overflow-scrolling: touch;
  @include breakpoint($sm) {
    overflow-y: hidden;
    position: static;
    background: transparent;
  }
}

.registration-step-change-value-btn {
  font-size: 12px;
  font-family: $sftr;
  color: rgb(29, 104, 219);
  line-height: 1.5;
  border: 0;
  background-color: transparent;
  float: right;
  outline: none;
  cursor: pointer;
  @include breakpoint($sm) {
    font-size: 14px;
  }
  @include breakpoint($lg) {
    float: none;
    margin-left: 5px;
  }
}

.registration-step-change-value-btn__text-change {
  display: none;
}

.registration-step--complete .registration-step-change-value-btn__text-change,
.registration-step--appointment-manage .registration-step-change-value-btn__text-change {
  display: inline;
}

.registration-step-change-value-btn__text-select {
  display: inline-block;
}

.registration-step--complete .registration-step-change-value-btn__text-select,
.registration-step--appointment-manage .registration-step-change-value-btn__text-select {
  display: none;
}
