/* scss/modules/_registration-step-oms-3-1.scss */

.multilevel-menu__result.multilevel-menu__result--doctor {
  padding: 0px;
  @include breakpoint($sm) {
    padding: 25px 10px 10px 39px;
    
  }

  @include breakpoint($lg) {
   	padding: 10px 10px 10px 39px;
  }
}

.doctors-item-list {
  font-family: $sftr;
  line-height: normal;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.col {
  float: left;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 1px 1px #d8dde6;
  min-width: 290px;
  min-height: 65px;
  padding: 35px 30px;
  text-align: center;
}

.col-md8 {
  width: 790px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  padding: 6px 12px;
  color: #444;
  border: 1px solid #8994a3;
  border-radius: 4px;
  background-color: transparent;
  letter-spacing: -1px;
  cursor: pointer;
}

.btn-primary {
  text-transform: uppercase;
}

.btn-success {
  border: none;
  background-color: #75c20a;
  color: white;
  box-shadow: 0 2px 0 #559e0d;
}

.doctor-item {
  height: 100%;
  display: block;
  position: relative;
  padding-bottom: 30px;
  @include breakpoint($xs-sm) {
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    border-radius: 4px;
  }
}

.doctor-item__btn {
	outline: none;
  @include breakpoint($xs-sm) {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;
  }
}

.doctor-item-list {
  float: none;
  padding: 0;
  @include breakpoint($sm) {
    background: #fff;
    padding: 0 25px;
    border-radius: 10px;
  }
  @include breakpoint($sm-lg) {
    width: 673px;
  }
  @include breakpoint($lg) {
    width: 790px;
    float: right;
  }
}

.doctors-item-list > li:first-child {
  // margin: 30px 0 0 5px;
}

.doctors-item-list > li:nth-child(2) {
  margin-bottom: 50px;
}

.doctor-item-list > li {
  @include breakpoint($xs-sm) {
    // height: 84px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  @include breakpoint($sm) {
    padding-top: 15px;
    height: 104px;
    border-top: 1px solid #d8dde6;
  }
}

.doctor-item-list > li.registration-form {
   @include breakpoint($sm) {
    padding-top: 0px;
   }
}

.doctor-item-list > li:first-child {
  border-top: 0;
}

.doctor-item > li {
  @include breakpoint($sm) {
    position: relative;
    padding-top: 18px;
    border: 0;
  }
}

.doctor-item > li:nth-child(2) {
  @include breakpoint($sm) {
    text-align: left;
  }
}

.doctor-item > li:nth-child(5) {
  @include breakpoint($sm) {
    padding-top: 23px;
    padding-right: 22px;
  }
}

.doctor-item > li:nth-child(3) {
  @include breakpoint($sm) {
    padding-top: 21px;
  }
}

.doctor-item > li:nth-child(4) {
  @include breakpoint($sm) {
    padding-top: 24px;
    margin: 0 25px;
  }
}

.doctor-item > li.to-left {
  @include breakpoint($sm) {
    float: left;
  }
}

.doctor-item > li.to-right {
  @include breakpoint($sm) {
    float: right;
  }
}

.hero-doctor-choose {
  padding-bottom: 50px;
}

.doctor-pic {
  position: relative;
  margin: 14px 13px 0 0;
  width: 50px;
  height: 50px;
  background-image: url("Images/doctor.jpg");
  background-size: cover;
  border-radius: 50%;
}

.doctor-name {
  @include breakpoint($xs-sm) {
    font-size: 14px;
    margin-left: 12px;
    margin-right: 32px;
    margin-bottom: 10px;
    padding-top: 10px;
  }
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  @include breakpoint($sm) {
    font-size: 16px;
    width: 208px;
  }
}

.doctor-specialist {
  @include breakpoint($xs-sm) {
    font-size: 12px;
    margin-left: 12px;
    margin-right: 12px;
    color: #676f7a;
  }
  color: #454a52;
  @include breakpoint($sm) {
    margin-top: 5px;
    font-size: 14px;
  }
}

.doctor-specialist.ng-binding + p.ng-binding {
  margin: 12px;
}

.doctor-status {
  margin: 6px 0 0;
  font-size: 12px;
  color: #676f7a;
}

.doctor-tickets {
  @include breakpoint($xs-sm) {
    position: absolute;
    top: 6px;
    right: 7px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background: #75c20a;
    border-radius: 50%;
  }
  @include breakpoint($sm) {
    font-size: 12px;
    color: #559e0d;
  }
}

.doctor-tickets span {
  @include breakpoint($xs-sm) {
    display: none;
  }
}

.doctor-from_date {
  @include breakpoint($xs-sm) {
    position: absolute;
    right: 46px;
    left: 12px;
    bottom: 13px;
    padding: 0;
    border: 0;
    font-size: 12px;
    text-align: right;
  }
  @include breakpoint($sm) {
    font-size: 12px;
    color: #454a52;
  }
}

.doctor-time {
  @include breakpoint($xs-sm) {
    position: absolute;
    right: 8px;
    bottom: 13px;
    padding: 0;
    border: 0;
    font-size: 12px;
  }
  @include breakpoint($sm) {
    padding: 4px 14px;
    border: 2px solid #a8d66b;
    border-radius: 30px;
    font-size: 14px;
  }
}

.doctor-ticketsoff {
  display: none;
  @include breakpoint($xs-sm) {
    position: absolute;
    top: 6px;
    right: 7px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background: #db381d;
    border-radius: 50%;
  }
  @include breakpoint($sm) {
    position: absolute;
    top: 27px;
    left: -45px;
    width: 100px;
    font-size: 14px;
    color: #676f7a;
  }
}

.doctor-from_date__label-xs {
  @include breakpoint($xs-sm) {
    display: inline;
    color: #676f7a;
    float: left;
  }
  @include breakpoint($sm) {
    display: none;
  }
}

.doctor-from_date__label-sm {
  @include breakpoint($xs-sm) {
    display: none;
  }
  @include breakpoint($sm) {
    display: inline;
  }
}

.doctor-ticketsoff__value-xs {
  @include breakpoint($xs-sm) {
    display: inline;
  }
  @include breakpoint($sm) {
    display: none;
  }
}

.doctor-ticketsoff__value-sm {
  @include breakpoint($xs-sm) {
    display: none;
  }
  @include breakpoint($sm) {
    display: inline;
  }
}

.doctor-item.ticketsoff .doctor-time,
.doctor-item.ticketsoff .doctor-tickets,
.doctor-item.ticketsoff .doctor-from_date,
.doctor-item.ticketsoff button {
  display: none;
}

.doctor-item.ticketsoff .doctor-ticketsoff {
  display: block;
}

.doctor-item > li.to-left {
  @include breakpoint($sm) {
    float: left;
  }
}

.doctor-item > li.doctor-picture {
  display: none;
  @include breakpoint($sm) {
    display: list-item;
    margin: 14px 13px 0 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 18px;
    font-family: $sftl;
    text-align: center;
    color: white;
    padding-top: 14px;
  }
}

.color-1 {
  background-color: #75c20a;
}

.color-2 {
  background-color: #db8100;
}

.color-3 {
  background-color: #db381d;
}

.color-4 {
  background-color: #5d53cb;
}

.color-5 {
  background-color: #1d68db;
}

.color-6 {
  background-color: #559e0d;
}

.color-7 {
  background-color: #c26000;
}

li.registration-form {
  @include breakpoint($xs-sm) {
    position: fixed;
    padding: 0;
    top: 0px;
    left: 0px;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: #d5e4ee;
    margin-top: 0;
    margin-bottom: 0;
  }
  @include breakpoint($sm) {
    position: relative;
    height: auto;
    background: transparent;
  }
}




li.registration-form:after {
  display: block;
  content: "";
  clear: both;
}

.registration-form_block {
  position: relative;
  margin: 0;
  text-align: center;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  background: #fff;
  @include breakpoint($sm) {
    height: inherit;
    padding: 18px 40px 22px 22px;
    width: 311px;
    float: left;
  }
  @include breakpoint($lg) {
    width: 370px;
  }
}

.registration-form_block-time {
  background-color: #D5E4EE;
  @include breakpoint($sm) {
    padding: 18px 22px 22px 40px;
    background-color: #f5f7f9;
  }
}

.registration-form_block-title {
  height: 33px;
  border-bottom: 1px solid #d8dde6;
  display: none;
  @include breakpoint($sm) {
    display: block;
  }
}

.registration-form_agenda {
  padding: 3px 0 0 37px;
  text-align: left;
  display: none;
  @include breakpoint($sm) {
    display: block;
  }
}

.agenda-block {
  position: relative;
  float: left;
  width: 107px;
  margin: 20px 57px 0 0;
  font-size: 12px;
}

.agenda-block:before {
  display: block;
  content: "21";
  width: 30px;
  height: 30px;
  border-radius: 6px;
  padding: 6px;
  text-align: center;
  font-size: 14px;
  color: #75c20a;
  position: absolute;
  top: -8px;
  left: -38px;
}

.agenda-block__availible,
.agenda-block__today {
  margin-right: 0;
}

.agenda-block__availible:before {
  padding: 5px;
  border: 2px solid #75c20a;
  color: black;
}

.agenda-block__picked:before {
  background-color: #75c20a;
  color: white;
}

.agenda-block__weekend:before {
  color: #676f7a;
}

.registration-form_timedesk {
  width: 100%;
  padding: 10px 0 0;
  border-bottom: 1px solid #d8dde6;
  @include breakpoint($sm) {
    padding: 43px 0 0;
    height: 334px;
  }
}

.timedesk {
  width: 100%;
  @include breakpoint($sm) {
    width: 68px;
    float: left;
    margin: 0 17px 0 2px;
    text-align: center;
  }
}

.timedesk li.doctor-time {
  cursor: pointer;
  position: static;
  font-size: 14px;
  @include breakpoint($xs-sm) {
    width: 100%;
    background: #fff;
    border: 0;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    padding: 0;
    text-align: left;
    margin-bottom: 4px;
    padding-left: 14px;
  }
  @include breakpoint($sm) {
    margin: 0 0 15px;
    width: 68px;
    padding: 4px 0;
    cursor: pointer;
  }
}

.timedesk li.doctor-time:hover {
  border-color: #559e0d;
}

li.doctor-time.timedesk_item-picked {
  background-color: #75c20a;
  border-color: #75c20a;
  color: white;
}

li.doctor-time.timedesk_item-picked:hover {
  border-color: #75c20a;
  cursor: default;
}

li.doctor-time.timedesk_item-disabled {
  border-color: #c5ccd6;
  color: #676f7a;
}

li.doctor-time.timedesk_item-disabled:hover {
  border-color: #c5ccd6;
  cursor: default;
}

.registration-form_final {
  position: relative;
  padding-top: 3px;
  text-align: left;
  display: none;
  @include breakpoint($sm) {
    display: block;
  }
}

.registration-form_final .btn {
  position: absolute;
  top: 23px;
  right: 0;
}

.registration-form_final-item {
  display: inline-block;
}

.registration-form_final-time {
  margin: 18px 8px 0 0;
  font-size: 14px;
}

.registration-form_final-date {
  font-size: 16px;
}

.registration-form_final .little-text {
  margin-top: 24px;
  font-weight: 700;
}

.little-text {
  font-size: 12px;
  line-height: 12px;
}
