/* scss/modules/_registration-login-form.scss */

.registration-login-form{
	 padding-top: 0px;
    padding-bottom: 50px;
    min-height: 100%;
    
    width: 100%;
    top: 0px;
    left: 0px;

    @include breakpoint($sm) {
      padding-top: 21px;
      padding-bottom: 307px;

      background: url(../img/registration-login-form.jpg) no-repeat center center;

      
    }
}

.registration-login-form__form{

}



.registration-login-form__legend{
	font-size: 18px;
  	font-family: $sftsb;
  	color: rgb(26, 26, 26);
  	line-height: 1.2;
  	text-align: center;
  	width: 100%;
  	letter-spacing: -.02em;
  	padding-bottom: 31px;
  	padding-top: 59px;



    @include breakpoint($sm) {
      font-size: 32px;
      font-family: $sftl;
    }
}

.registration-login-form__table{
  display: table;
    height: 100%;
    width: 100%;
}


.registration-login-form__table-cell{
  display: table-cell;
  vertical-align: middle;
}




.registration-login-form__fields{
	margin: 0 auto;
    width: 250px;
}





.registration-step__input.registration-login-form__input{
      margin-bottom: 20px;
}