/* scss/registration-step-complete__value-g/_registration-step-complete__value.scss */
.registration-step-complete__value{
font-family: $sftsb;
color: #1a1a1a;
font-size: 14px; /* Приближение из-за подстановки шрифтов */
font-weight: 600;
line-height: 24px; /* Приближение из-за подстановки шрифтов */
text-align: left;
margin-bottom: 5px;
}