/* scss/base/_fonts.scss */

// Text regular
$sftr: 'SF UI  Text G 3';

// Text medium
$sftm: 'SF UI  Text Med';

// Text bold
$sftb: 'SF UI  Text G 4';

// Text SemBd
$sftsb: 'SF UI  Text SemBd';

// Text Light
$sftl: 'SF UI Text Light';

// Text Bold Italic
$sftbi: 'SF UI  Text G 9';


// Display regular
$sfdr: 'SF UI Display';

